<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirige toutes les requêtes qui ne sont pas des fichiers ou des dossiers existants vers index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>